form{
    background-color: rgb(7, 117, 160);

    position: absolute;
    padding: 20px;
    width: 500px;
    font-size: small;
    position: absolute;
    border-radius: 20px; 
    margin: 10px;
}
.sub-form{
  position: relative;
  display: flex;
  justify-content: center;
}
  .Email input{
    width: 100%;
    padding: 5px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 3px solid rgb(68, 76, 99);
    border-radius: 3px;
    box-sizing: border-box;
    
   }
   .FirstName input{
    width: 100%;
    padding: 5px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 3px solid rgb(68, 76, 99);
    border-radius: 3px;
    box-sizing: border-box;
  }
  .LastName input{
    width: 100%;
    padding: 5px 10px;
    margin: 8px 0;
    border: 3px solid rgb(68, 76, 99);
    border-radius: 3px;
    box-sizing: border-box;
  }

  .PhoneNumber input{
    width: 100%;
    padding: 5px 10px;
    margin: 8px 0;
    border: 3px solid rgb(68, 76, 99);
    border-radius: 2px;
    box-sizing: border-box;
  }
  
  .PhoneNumber input{
    width: 100%;
    padding: 5px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 3px solid rgb(68, 76, 99);
    border-radius: 3px;
    box-sizing: border-box;
  }

  .Age input{
    width: 100%;
    padding: 5px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 3px solid rgb(68, 76, 99);
    border-radius: 3px;
    box-sizing: border-box;
  }
  .Type select{
    width: 100%;
    padding: 5px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 3px solid rgb(68, 76, 99);
    border-radius: 3px;
    box-sizing: border-box;
  }

  .Password input{
    width: 100%;
    padding: 5px 10px;
    display: inline-block;
    border: 3px solid rgb(68, 76, 99);
    border-radius: 3px;
    box-sizing: border-box;
  }